/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* reset */
html,body,div,span,applet,object,iframe,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse; border-spacing:0;}

/* */

body {
	background: #f6edd2;
	background-image: -webkit-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: -moz-radial-gradient(circle, #fefefe, #f6edd2);
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.particle {
  position: absolute;
  top: 0; left: 0;
  border-radius: 100%;
	-webkit-transition: 1;
}

.smoke {
  position: absolute;
  top: 0; left: 0;
  border-radius: 100%;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, .5);
}